@font-face {
    src: url('Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
    font-family: "Source Code Pro";
}


@font-face {
    src: url('Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
    font-family: "Source Code Pro Bold";
}

:root {
    margin: 0px;
    font-size: 16px;
    font-family: "Source Code Pro";

    --color-primary: #303030;
    --color-secondary: #494949;

    --color-contrast: #7b31db;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

#head {
    font-family: "Source Code Pro Bold";
    font-size: 50px;
}

.home {
    background-color: var(--color-secondary);
}
.home img {

}

nav {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--color-primary);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    color: rgb(207, 195, 195);
    text-decoration: none;
}


main {
    margin-left: 5rem;
    padding: 1rem;

    transform: translateY(-45px);
}